<div id="main_view">
	<button type="button" class="btn" ng-click="login()">login</button>
	<div id="btn_wrapper">
		<div class="pos left"><button type="button" class="btn btn-primary" ng-click="moveleft()"><i class="icon-arrow-left"></i></button></div>
		<div class="pos right"><button type="button" class="btn btn-primary" ng-click="moveright()"><i class="icon-arrow-right"></i></button></div>
		<div class="pos up"><button type="button" class="btn btn-primary" ng-click="moveup()"><i class="icon-arrow-up"></i></button></div>
		<div class="pos down"><button type="button" class="btn btn-primary" ng-click="movedown()"><i class="icon-arrow-down"></i></button></div>
	</div>
</div>
